/* .page-content {
  border: 2px solid rgb(68, 62, 62);
  border-radius: 10px;
  margin-top: 20px;
  background-color: #e0e0e0;
} */

div.book-image {
  margin: 5px;
  border: 1px solid rgb(14, 13, 13);
  /* float: left; */
  align-self: flex-start;
  /* width: 100px; */
}

.flex-item {
  width: 200px;
  margin: 10px;
  border: 3px solid steelblue;
  background-color: teal;
}
